---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>OhMyAstro</title>
	</head>
	<body>
        <header>
			<a href="/">Home</a>
			<a href="/about">About</a>
			<a href="/blog">Blog</a>
		</header>
		<h1>That's blog</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid atque aspernatur repudiandae rerum, sed quam eius distinctio veritatis ad, sapiente tempore? Cupiditate iure tempora similique ipsum blanditiis dicta minus enim?</p>
	</body>
</html>
